<%= form_for(@import) do |f| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gameNumber %><br />
    <%= f.number_field :gameNumber %>
  </div>
  <div class="field">
    <%= f.label :gameName %><br />
    <%= f.text_field :gameName %>
  </div>
  <div class="field">
    <%= f.label :closeDate %><br />
    <%= f.text_field :closeDate %>
  </div>
  <div class="field">
    <%= f.label :ticketPrice %><br />
    <%= f.number_field :ticketPrice %>
  </div>
  <div class="field">
    <%= f.label :prizeLevel %><br />
    <%= f.text_field :prizeLevel %>
  </div>
  <div class="field">
    <%= f.label :totalPrizes %><br />
    <%= f.number_field :totalPrizes %>
  </div>
  <div class="field">
    <%= f.label :prizeClaimed %><br />
    <%= f.number_field :prizeClaimed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
